.post-img {
  width: 37vw;
  height: 40vh;
  object-fit: cover;
  object-position: center;

}

.avatar {
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
}

.sidebar {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.posts {
  margin-left: 413px;
}

.hoa-text {
  font-family: 'Fasthand', cursive;
}

.min-h {
  min-height: 28vh;
}
